services:
  arrflix:
    build:
      context: .
      dockerfile: docker/Dockerfile.dev
    image: arrflix:dev
    container_name: arrflix-dev
    environment:
      APP_ENV: dev
      TMDB_API_KEY: ${TMDB_API_KEY}
    ports:
      - "8484:8484"
      - "9697:9696"
      - "5432:5432"
    volumes:
      - ${MEDIA_LIBRARIES}:/data
      - /mnt/media-pipeline/media/movies:/data/actual-movies
      - ./.data/postgres-data:/var/lib/postgresql/data

      # app code for dev
      - ./web:/app/web
      - ./backend:/app/backend
