services:
  snaggle:
    build:
      context: .
      dockerfile: docker/Dockerfile.dev
    image: snaggle:dev
    container_name: snaggle
    environment:
      APP_ENV: dev
      TMDB_API_KEY: ${TMDB_API_KEY}
    ports:
      - "8484:8484"
      - "9697:9696"
      - "5432:5432"
    volumes:
      - ${MEDIA_LIBRARIES}:/libraries
      - ./.data/postgres-data:/var/lib/postgresql/data

      # app code for dev
      - ./web:/app/web
      - ./backend:/app/backend
  vpn:
    image: ghcr.io/wfg/openvpn-client
    container_name: snaggle-vpn
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    environment:
      - SUBNETS=${VPN_SUBNETS}
    ports:
      # Qbittorrent web interface ports
      - 8485:8485
      # Bittorrent protocol ports
      # - 61589:61589
      # - 61589:61589/udp
    devices:
      - /dev/net/tun
    volumes:
      - ./.data/vpn:/data/vpn
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:5.1.4
    container_name: snaggle-qbittorrent
    restart: unless-stopped
    # Very important - uses the VPN network
    network_mode: service:vpn
    depends_on:
      - vpn
    environment:
      - TZ=${TZ}
      - WEBUI_PORT=8485
    volumes:
      - ./.data/qbittorrent:/config
      - ${SEED_DIR}:/downloads
