services:
  snaggle:
    build:
      context: .
      dockerfile: docker/Dockerfile.dev
    image: snaggle:dev
    container_name: snaggle
    environment:
      APP_ENV: dev
      TMDB_API_KEY: ${TMDB_API_KEY}
    ports:
      - "8484:8484"
      - "9697:9696"
      - "5432:5432"
    volumes:
      - ${MEDIA_LIBRARIES}:/libraries
      - ./.data/postgres-data:/var/lib/postgresql/data

      # app code for dev
      - ./web:/app/web
      - ./backend:/app/backend
