services:
  snaggle:
    build:
      context: ..
      dockerfile: docker/Dockerfile.dev
    image: snaggle:dev
    container_name: snaggle
    environment:
      APP_ENV: dev
      TMDB_API_KEY: ${TMDB_API_KEY}
    ports:
      - "8484:8484"
    volumes:
      - /mnt/media-pipeline/testing:/mnt/media-pipeline/testing
      - ./postgres-data:/var/lib/postgresql/data
      - ../web:/app/web
      - ../backend:/app/backend
