@import 'tailwindcss';
@import 'tailwindcss-primeui';

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

:root {
}

html,
body,
#app {
  height: 100%;
}

body {
  /* margin: 0; */
  @apply m-0 bg-black text-white;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    Noto Sans,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji,
    'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  /* line-height: 1.5; */
}

img,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
select,
textarea {
  font: inherit;
}

/* Because the primevue password component is not full width */
.p-password input {
  width: 100%;
}
